// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';
@import 'reset';

.box {
  display: flex;
  justify-content: center;
  border: solid grey;
}

.lesson {

}

.number {

}

.css {

}

.dots {

}

.items {

}

.share {

}

.icons {

}
