$card-green: #2cb249;
$card-blue: #098bcd;
$card-grey: #c2c2c2;
$card-grey-darker: darken($card-grey,20%);
$card-border: solid .15rem $card-grey;
$circle-font-size: 2rem;
$gutter: 3rem;
$item-font-size: 1.7rem;
$icon-size: 3rem;
$brand-white: #f2f1f6;
